# OpenMP projects should set the environment variable OMP_NUM_THREADS to a reasonably small value (say, 4). 

sudo : false

notifications:
    email:
        recipients:
            - spond@temple.edu
            - steven@stevenweaver.org
        on_success: change
        on_failure: always

branches:
  only:
    - master

cache:
  directories:
      - $HOME/cmake-3.3.2-Linux-x86_64/ 

language: c++
compiler: 
  - gcc

before_install:
  - wget http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz --no-check-certificate
  - tar xvzf cmake-3.3.2-Linux-x86_64.tar.gz -C $HOME

install:
  - $HOME/cmake-3.3.2-Linux-x86_64/bin/cmake . 
  - make

script: 
  - ./tn93 -v
